<h1>Editing contact</h1>

<%= render "form", contact: @contact %>

<br>

<div>
  <%= link_to "Voir ce contact", @contact, class:'btn btn-primary' %> |
  <%= link_to "Retour aux contacts", contacts_path, class:'btn btn-primary' %>
</div>
