<h1>Éditer la transaction</h1>

<%= render "form", transaction: @transaction %>

<br>

<div>
  <%= link_to "Voir cette transaction", @transaction, class:'btn btn-primary' %> |
  <%= link_to "Retour aux transactions", transactions_path, class:'btn btn-primary' %>
</div>
