<h1>Éditer le produit</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Voir ce produit", @product, class:'btn btn-primary' %> |
  <%= link_to "Retour aux produits", products_path, class:'btn btn-primary' %>
</div>
